@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html ::-webkit-scrollbar {
    width: 12px;
  }

html ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #ffffff;
  }

html ::-webkit-scrollbar-track {
    background: #00000010;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    min-height: 100vh;
    background-color: #E7F1F1;
    background: url(../public/img/background-principal.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
}
/* '---SIDEBAR---' */

nav{
    top: 0;
    left: 0;
    bottom: 0;
    height: 100vh;
    width: 190px;
    background-color: rgba(255, 255, 255, 0.678);
    box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    overflow: hidden;
    transition: all 0.75s;
}

.close{
    width: 63px;
    transition: all 0.75s;
}

.open-nav{
    width: 50px;
    height: 20px;
    background-color: transparent;
    border-style: none;
    position: absolute;
    cursor: pointer;
}

.fa-bars{
    margin-left: 5px;
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 20px;
    color: black;
}

.user{
    margin-top: 60px;
    padding-bottom: 30px;
    display: flex;
    text-align: start;
    align-items: center;
    gap: 0.35rem;
}

.fa-circle-user{
    margin-left: 10px;
    font-size: 36px;
}

a{
    display: flex;
    text-decoration: none;
    color: rgb(63, 63, 63);
    gap: 1rem;
    align-items: center;
    justify-content: center;
    transition: all 0.75s;
    font-size: 16px;
}

li{
    margin-bottom: 8px;
    margin-left: 5px;
    margin-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    list-style: none;
    display: flex;
    cursor: pointer;
    text-align: center;
    border-radius: 6px;
    transition: all 0.75s;
}

li:hover{
    background-color: rgba(0, 0, 0, 0.025);
    transition: all 0.75s;
}
li:hover a{
    color: black;
    transition: all 0.75s;
}

li:hover .txt{
    font-size: 14.5px;
    transition: all 0.75s;
}

.active{
    background-color: rgb(29, 29, 29);
}

.active:hover{
    background-color: rgb(29, 29, 29);
}

.active a{
    color: white;
    transition: all 0.75s;
}

.active:hover a{
    color: white;
    transition: all 0.75s;
}

.active:hover .txt{
    color: white;
    transition: all 0.75s;
}

ul, i{
    font-size: 15px;
    padding-left: 4px;
}
.txt{
    font-size: 14px;
    margin-left: 12px;
    transition: all 0.75s;
}

.logout{
    border-top: 1px solid rgba(0, 0, 0, 0.116);
    padding-top: 10px;
}

#logout{
    background-color: transparent;
    border-style: none;
    padding-bottom: 10px;
    padding-left: 15px;
    align-items: center;
    gap: 2rem;
    display: flex;
}

txt{
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* '---DAILY---' */

main{
    display: flex;
    height: 100%;
    width: 100%;
    margin-left: 240px;
    padding-left: 200px;
    padding-top: 45px;
    padding-bottom: 45px;
}

.figures-daily{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-left: -25px;
    justify-content: center;
}

.figure{
    background-color: rgba(81, 153, 103, 0.815);
    width: 45px;
    height: 25px;
    border-radius: 35px;
    z-index: 1000;
}

.figure p{
    display: none;
}

.daily{
    display: flex;
    background-color: white;
    border-radius: 10px;
    height: 550px;
    max-height: none;
    width: 500px;
    box-shadow: 4px 4px 8px 1px rgba(90, 90, 90, 0.363);
    position: relative;

}
.content{
    margin: 35px 40px 10px 30px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.content h2{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 45px;
    letter-spacing: 2px;
}
.content h4{
    font-size: 14px;
    color: rgb(63, 63, 63);
}
.box-sintomas{
    width: 410px;
    min-height: 50px;
    max-height: 300px;
    align-items: center;
    justify-content: center;
    background-color: rgba(61, 61, 61, 0.068);
    box-shadow: 4px 4px 8px 1px rgba(90, 90, 90, 0.205);
    border-radius: 16px;
    transition: all 0.75s;
}

.sintomas, h4{
    margin-bottom: 5px;
}

.box-tags{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.selecionados{
    min-height: 45px;
    max-height: 300px;
    width: 380px;
    padding-top: 12px;
    padding-bottom: 8px;
    padding-left: 10px;
    display: flex;
    white-space: nowrap;
    text-overflow: ellipsis;
    flex-wrap: wrap;
    gap: 0.5rem;
    overflow-y: auto;
}

.campo-tags{
    display: flex;
    white-space: nowrap;
    background-color: rgb(243, 214, 255);
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 5px;
    border-radius: 16px;
    align-items: center;
    gap: 0.5rem;
    color: black;
}

.opcoes{
    cursor: pointer;
    transition: all 0.75s;
    padding-left: 10px;
    border-radius: 6px;
}

.opcoes:hover{
    background-color: rgba(0, 0, 0, 0.048);
    transition: all 0.75s;
}

#novosintoma{
    margin-top: 5px;
    border-radius: 6px;
    border-width: 2.5px;
    height: 30px;
    border-color: rgba(81, 153, 103, 0.815);
}

.op-novosintoma:hover{
    background-color: white;
}

.open-opcoes{
    margin-left: 5px;
    padding-right: 30px;
    cursor: pointer;
    transition: all 0.75s;
    width: 20px;
}

.fa-caret-down{
    color: black;
    font-size: 22px;
}

.tag-remove{
    cursor: pointer;
    color: black;
}

.opcoesSintomas{
    background-color: white;
    width: 400px;
    border-color: rgba(0, 0, 0, 0.342);
    border: 3px;
    border-radius: 5px;
    box-shadow: 4px 4px 8px 1px rgba(90, 90, 90, 0.205);
    padding: 15px 20px 15px 20px;
    position: absolute;
    transition: all 0.75s;
    z-index: 1;
    display: none;
    margin-left: 5px;
}

.op{
    display: block;
}

.icon-op{
    background: transparent;
    border-style: none;
    width: 20px;
    cursor: pointer;
    margin-right: 5px;
    margin-top: 10px;
}

/* '---NOTES---' */

.box-notes{
    margin-top: 5px;
}

#input-notes{
    outline: 0;
    width: 410px;
    height: 120px;
    padding: 10px 10px 10px 10px;
    box-shadow: 4px 4px 8px 1px rgba(90, 90, 90, 0.205);
    border-radius: 7px;
}


/* '---FILES---' */

.anexo{
    margin-top: 0px;
}

.box-anexos h4{
    margin-bottom: 5px;
}

.box-files{
    width: 410px;
    border-style: dashed;
    border-width: 2px;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    border-color: rgba(0, 0, 0, 0.336);
    box-shadow: 4px 4px 8px 1px rgba(90, 90, 90, 0.11);
    display: flex;
    white-space: nowrap;
    text-overflow: ellipsis;
    align-items: center;
    justify-content: center;
}

.box-anexos label{
    cursor: pointer;
    background-color: rgba(252, 203, 211, 0.507);
    border-style: solid;
    border-radius: 10px;
    border-color: rgba(252, 203, 211, 0.507);
    padding: 5px 5px 5px 5px;
    font-size: 14px;
    margin-right: 5px;
}
::-webkit-file-upload-button{
    display: none;
}

/* '---SUBMIT---' */

.btnregistrar{
    width: 410px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
}
#registrar{
    background-color: rgb(20, 20, 20);
    color: #E7F1F1;
    border-style: none;
    border-radius: 6px;
    width: 100px;
    height: 35px;
    cursor: pointer;
    font-size: 13px;
    letter-spacing: 2px;
    transition: all 0.75s;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
}

#registrar:hover{
    background-color: black;
    width: 105px;
    font-size: 13.5px;
    box-shadow: 0.5rem 0.5rem 0.5rem rgba(255, 255, 255, 0.692);
    color: white;
    transition: all 0.75s;
}

@media screen and (max-width: 1000px){

    nav{
        z-index: 9999999;
    }
    main{
        height: 100vh;
        width: 100%;
        padding-top: 100px;

    }

    .daily{
        width: 270px;
        height: 470px;
        max-height: max-content;
        margin-left: -340px;
    }
    .content h2{
        font-size: 29px;
    }
    .content{
        margin: 20px 20px 5px 20px;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .figures-daily{
        margin-left: -15px;

    }
    
    .figure{
        width: 25px;
        height: 15px;
    }
    
    .box-sintomas{
        width: 200px;
        min-height: 25px;
        max-height: 300px;
    }
    .selecionados{
        min-height: 25px;
        max-height: 300px;
        width: 195px;
    }
    
    .campo-tags{
        padding-left: 5px;
        padding-right: 5px;
        margin-bottom: 5px;
    }
    
    .opcoes:hover{
        background-color: rgba(0, 0, 0, 0.048);
        transition: all 0.75s;
    }
    
    #novosintoma{
        height: 20px;
    }
    
    .op-novosintoma:hover{
        background-color: white;
    }
    
    .open-opcoes{
        margin-left: 0px;
        padding-right: 30px;
        width: 10px;
    }
    
    .fa-caret-down{
        font-size: 18px;
    }
    
    .opcoesSintomas{
        width: 180px;
        margin-left: 10px;
    }
    
    .op{
        display: block;
    }
    
    .icon-op{
        width: 10px;
        margin-top: 5px;
    }
    
    #input-notes{
        outline: 0;
        width: 200px;
        height: 120px;
        padding: 10px 10px 10px 10px;
    }
    
    .box-files{
        width: 200px;
        padding: 10px 10px 10px 10px;
    }
    
    .box-anexos label{
        padding: 5px 5px 5px 5px;
        font-size: 12px;
        margin-right: 10px;
    }
    
    /* '---SUBMIT---' */
    
    .btnregistrar{
        width: 200px;
        margin-top: 5px;
    }
    #registrar{
        width: 80px;
        height: 25px;
        cursor: pointer;
        font-size: 11px;
    }
    
    #registrar:hover{
        width: 85px;
        font-size: 11.5px;
    }
}