@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html ::-webkit-scrollbar {
    width: 12px;
  }

html ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #ffffff;
  }

html ::-webkit-scrollbar-track {
    background: #00000010;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    min-height: 100vh;
    background-color: #E7F1F1;
    background: url(../public/img/background-principal.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
}
/* '---SIDEBAR---' */

nav{
    top: 0;
    left: 0;
    bottom: 0;
    height: 100vh;
    width: 190px;
    background-color: rgba(255, 255, 255, 0.678);
    box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    overflow: hidden;
    transition: all 0.75s;
}

.close{
    width: 63px;
    transition: all 0.75s;
}

.open-nav{
    width: 50px;
    height: 20px;
    background-color: transparent;
    border-style: none;
    position: absolute;
    cursor: pointer;
}

.fa-bars{
    margin-left: 5px;
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 20px;
    color: black;
}

.user{
    margin-top: 60px;
    padding-bottom: 30px;
    display: flex;
    text-align: start;
    align-items: center;
    gap: 0.35rem;
}

.fa-circle-user{
    margin-left: 10px;
    font-size: 36px;
}

a{
    display: flex;
    text-decoration: none;
    color: rgb(63, 63, 63);
    gap: 1rem;
    align-items: center;
    justify-content: center;
    transition: all 0.75s;
    font-size: 16px;
}

li{
    margin-bottom: 8px;
    margin-left: 5px;
    margin-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    list-style: none;
    display: flex;
    cursor: pointer;
    text-align: center;
    border-radius: 6px;
    transition: all 0.75s;
}

li:hover{
    background-color: rgba(0, 0, 0, 0.025);
    transition: all 0.75s;
}
li:hover a{
    color: black;
    transition: all 0.75s;
}

li:hover .txt{
    font-size: 14.5px;
    transition: all 0.75s;
}

.active{
    background-color: rgb(29, 29, 29);
}

.active:hover{
    background-color: rgb(29, 29, 29);
}

.active a{
    color: white;
    transition: all 0.75s;
}

.active:hover a{
    color: white;
    transition: all 0.75s;
}

.active:hover .txt{
    color: white;
    transition: all 0.75s;
}

ul, i{
    font-size: 15px;
    padding-left: 4px;
}
.txt{
    font-size: 14px;
    margin-left: 12px;
    transition: all 0.75s;
}

.logout{
    border-top: 1px solid rgba(0, 0, 0, 0.116);
    padding-top: 10px;
}

#logout{
    background-color: transparent;
    border-style: none;
    padding-bottom: 10px;
    padding-left: 15px;
    align-items: center;
    gap: 2rem;
    display: flex;
}

txt{
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* '---PAPER---' */

main{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin-left: 240px;
    padding-left: 200px;
    padding-top: 30px;
    padding-bottom: 45px;
}

.cont-fig{
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.figure{
    background-color: rgba(81, 153, 103, 0.815);
    box-shadow: 8px 8px 8px 2px rgba(90, 90, 90, 0.363);
    width: 160px;
    height: 40px;
    border-radius: 35px;
    margin-bottom: -20px;
}
.figure p{
    display: none;
}

.paper{
    background-color: white;
    border-radius: 10px;
    min-height: 550px;
    max-height: max-content;
    max-width: 500px;
    box-shadow: 4px 4px 8px 1px rgba(90, 90, 90, 0.363);
    position: relative;
}

.content{
    margin: 40px 40px 40px 40px;
}

.day{
    background-color: transparent;
    padding-bottom: 10px;
    margin-bottom: 30px;
    border-bottom: dashed;
    border-color: rgba(0, 0, 0, 0.329);
    border-width: 2px;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    font-size: 14px;
}
.day h2{
    font-size: 15px;
}

.day .fa-solid{
    color: rgba(0, 0, 0, 0.774);
    font-size: 14px;
    margin-right: 5px;
}

.day .fa-heart-pulse{
    font-size: 16px;
    margin-left: -2px;
}

.txt-obs{
    color: rgba(0, 0, 0, 0.719);
    font-size: 13px;
}

@media screen and (max-width: 1000px){

    nav{
        z-index: 99999;
    }

    .fa-bars{
        color: black;
    }

    main{
        width: 100%;
        margin-left: 70px;
        padding-left: 5px;
        padding-top: 30px;
        padding-bottom: 45px;
    }
    
    .cont-fig{
        width: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .figure{
        width: 100px;
        height: 30px;
        margin-bottom: -20px;
    }
    
    .paper{
        min-height: 550px;
        max-height: max-content;
        max-width: 300px;
    }
    
    .content{
        margin: 20px 20px 20px 20px;
    }

    .fa-right-from-bracket{
        color: black;
    }
}